body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
}

.logo {
    width: 100px;
    margin-left: 55px;
}

.cari{
    margin-right: 55px;
    height: 20px;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: green;
}

/* bagiannn 11111*/
/* bagiannn 11111*/
/* bagiannn 11111*/


.gab {
    padding: 100px 80px 0px 80px;
    overflow: auto;
}

.gab .perkenalan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gab h1{
    letter-spacing: -2px;
}

.txt-bah {
    display: flex;
    flex-direction: column; /* Mengatur elemen berada dalam satu kolom */
    align-items: flex-start;
}

.txt-bah p{
    font-size: 20px;
    line-height: 35px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Untuk membuat latar belakang berbentuk oval */
    text-decoration: none;
    color: white;
    background: #073042;
    transition: background 0,5s, color 0,5s;
}

.button:hover {
    background: #6dd58c; /* Warna hijau toska saat disentuh */
    color: #073042;
}

.perkenalan h1 {
    font-size: 72px;
    font-weight: 800;
    margin-right: 20px;
    
}

.perkenalan img {
    max-width: 100%;
    
}

.perkenalan{
    gap: 30px;
}
  
/* bagian 222222 */
/* bagian 222222 */
/* bagian 222222 */

.row{
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
  }
  
  
  .column {
    float: left;
    height: 870px; 
    width: 1103px;
  }

  .row img{
    border-radius: 20px;
  }

  .row h2{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0 50px 0;
    letter-spacing: -1px;
  }
  
  .row p{
    font-size: 20px;
  }
  
  .row .right p{
    margin:0 0 78px 0 ;
  }

  .left {
    width: 65%;
    margin-left: 70px ;
    margin-right: 10px;
  }

  
  .right {
    width: 35%;
    margin-right: 70px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .tombol {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    color: #073042;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.tombol:hover {
    background-color: #cbe8e3; 
    color: #073042;
}

/* bagian 333333 */
/* bagian 333333 */
/* bagian 333333 */

.row-1{
    box-sizing: border-box;
    display: flex;
    margin: 0 70px 0 70px;
  }

  .bagian {
    float: left;
    height: 400px; 
    width: 1103px;
  }

  .kiri h2{
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -4px;
    line-height: 65px;
  }

  .isi{
    margin-block-end: 46.65px;
    margin-block-start: 45.65px; 
    font-size: 20px;
    line-height: 32px;
  }

  .kiri{
    width: 59%;
    padding-left: 40px;
  }

  .kanan{
    width: 41%;
    padding-right: 40px;
  }

/* bagian 44444 */
/* bagian 44444 */
/* bagian 44444 */


.parallax {
    position: relative;
    width: 100%; 
    overflow: hidden;
}

.parallax-image {
    width: 200%;
}

.parallax-image img {
    width: 100%;
}


.content {
    text-align: center;
    padding: 100px;
}

  /* bagian 555555 */
  /* bagian 555555 */
  /* bagian 555555 */

  .row-2{
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
  }
  
  
  .column-2 {
    float: left;
    height: 760px; 
    width: 1103px;
  }

  .row-2 img{
    border-radius: 20px;
  }

  .row-2 h2{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0 50px 0;
    letter-spacing: -1px;
  }
  .row-2 p{
    font-size: 20px;
  }
  
  .row-2 .right-2 p{
    margin:0 0 40px 0 ;
    font-size: 20px;
  }

  .left-2 {
    width: 50%;
    margin-left: 70px ;
    margin-right: 30px;
  }

  
  .right-2 {
    width: 50%;
    margin-right: 70px;
  }
  
 
  .row-2:after {
    content: "";
    display: table;
    clear: both;
  }

    /* bagian 66666 */
    /* bagian 66666 */
    /* bagian 66666 */

    .row-3{
        box-sizing: border-box;
        margin-top: 100px;
        display: flex;
      }
      
      
      .column-3 {
        float: left;
        height: 650px; 
        width: 1103px;
      }
    
      .row-3 img{
        border-radius: 20px;
      }
    
      .row-3 h2{
        font-size: 40px;
        font-weight: 700;
        margin: 50px 0 50px 0;
        letter-spacing: -1px;
      }
      .row-3 p{
        font-size: 20px;
      }
      
      .row-3 .right-3 p{
        margin:0 0 40px 0 ;
        font-size: 20px;
      }
    
      .left-3 {
        width: 50%;
        margin-left: 70px ;
        margin-right: 30px;
      }
    
      
      .right-3 {
        width: 50%;
        margin-right: 70px;
      }
      
     
      .row-3:after {
        content: "";
        display: table;
        clear: both;
      }
    

      /* bagain 77777 */
      /* bagain 77777 */
      /* bagain 77777 */
/* atas */
/* atas */
/* atas */
      .row-4{
        box-sizing: border-box;
        margin-top: 100px;
      }

      .berita{
        display: flex;
      }
     
      .bagian-4 {
        float: left;
        height: 184px; 
        width: 1103px;
      }
      .kiri-4 h2{
        font-size: 72px;
        font-weight: 700;
        letter-spacing: -2;
        line-height: 65px;
        margin-block-end: 0;
        margin-block-start: 0;
      }

      .kanan-4 p{
        font-size: 20px;
        margin-top: 90px;
      }

      .kiri-4{
        width: 60%;
        margin-left: 70px ;
        margin-right: 30px;
      }
    
      
      .kanan-4 {
        width: 40%;
        margin-right: 70px;
      }

/* bawah*/
/* bawah*/
/* bawah*/

.container {
  display: flex;
  margin: 50px 70px 0 70px;
}

.box {
  height: 300px;
  width: 1280px;
  box-shadow: 10px 20px 100px  rgba(0, 0, 0, 0.3); /* Properti box-shadow */
}

.tempat- {
  width: 33%;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  color: #073042;
  position: relative;
}

.tempat- h3 {
  font-size: 30px;
  margin: 30px 30px 90px 30px;
}

.tempat- a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #073042;
  transition: color 0.3s; /* Animasi perubahan warna teks saat hover */
}

.tempat- a:hover {
  color: #00cc99 ; /* Warna teks saat hover (merah) */
}

.tempat-:hover {
  background-color: #cbe8e3; /* Warna latar belakang saat hover (hijau toska) */
}

/* bagian 88888 */
/* bagian 88888 */
/* bagian 88888 */

/* atas */
/* atas */
/* atas */

/* CSS untuk footer dan kolom-kolomnya */
/* CSS untuk footer dan kolom-kolomnya */
footer {
  background-color: #fff; /* Latar belakang putih */
  padding: 20px 0 0 0 ;
  justify-content: space-between;
  align-items: center;
  margin: 100px 70px 0 70px;
}

.bagian1{
  display: flex;
}

.column1 {
  flex: 1;
  text-align: left; /* Membuat teks menjadi rata kiri */
  position: relative;
  padding: 10px;
  font-size: 16px;
  text-decoration: none solid rgb(64, 64, 64);
  border-bottom: 0.2px solid black;
}

.column1 h3 {
  margin: 0;
  position: relative;
  padding-bottom: 20px;
  height: 29px;
  color: #073042;
}

.column1 h3::after {
  content: "";
  display: flex;
  width: 100%;
  height: 0.2px; /* Garis tipis di bawah judul */
  background-color: #000; /* Warna garis */
  bottom: 0;
  left: 0;
}

.column1 a {
  color: #073042; /* Warna teks awal (hitam) */
  text-decoration: none;
  transition: color 0.3s; /* Animasi perubahan warna teks saat hover */
  display: block;
  margin-bottom: 20px; /* Jarak antara tautan */
}

.column1 a:hover {
  color: #00cc99; /* Warna teks saat hover (hijau pastel) */
}


/* bawah */
/* bawah */
/* bawah */

/* CSS untuk footer dan kolom-kolomnya */
/* ... (CSS sebelumnya) ... */

.bagian2 {
  display: flex;
  height: 150px; 
  width: 1103px;
}

.keterangan1{
height: 93px;
width: 863px;
}

.keterangan2{
  align-items: center;
  justify-content: space-between;
  margin: 20px 0; /* Margin atas dan bawah untuk bagian 2 */
  margin-left: 20px;
}
.keterangan2 p{
  font-size: 12px;
}

.keterangan3{
  margin-left: ;
  display: flex;
}

.keterangan3 a {
  margin-right: 20px;
  color: #073042; /* Warna teks awal (hitam) */
  text-decoration: none;
  transition: color 0.3s; /* Animasi perubahan warna teks saat hover */
}

.keterangan3 a:hover {
  color: #00cc99; /* Warna teks saat hover (hijau toska) */
}


.language-dropdown {
  margin-right: 20px; /* Jarak antara pilihan bahasa dan paragraf */
}

.bagian2 p {
  margin: 0; /* Menghilangkan margin default untuk paragraf */
  margin-top: 10px; /* Jarak antara dua paragraf */
}

.social-media {
  align-items: center;
  margin-top: 20px; /* Margin atas untuk bagian media sosial */
}

.social-icon {
  margin-right: 10px; /* Jarak antara ikon media sosial */
}

.social-icon img{
  height: 28px;
  width: 28px;
}
